.parent{
    display: flex;
    justify-content: center;
}

.button{
    margin-right: 5px;
    background-color: transparent;
    font-size: 20px;
    box-shadow: none;
}

.good:hover{
    background-color: green;
}
.neutral:hover{
    background-color: yellow;
}
.bad:hover{
background-color: red;
}

.text{
    font-size: 20px;
    margin: 0px;
    padding-right: 20px;
}